<section class="articles-heading" id="articles-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="articles-heading">Edit Story</h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>


<%= form_for [@user, @article], html: {multipart: true} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.label :story %>
  <%= f.text_area :story %>
  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <%= f.text_field :tag_list %>
  <%= f.file_field :photo %>
  <%= f.select :image_orientation, Article::IMAGE_ORIENTATION %>
  <%= f.submit "Update Story" %>
<% end %>
