<section class="articles-heading" id="articles-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="articles-heading">Edit Story</h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>


<div class="container new-story">
  <div class="form-group">

    <%= form_for [@user, @article], html: {multipart: true} do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>

      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>

      <%= f.label :story %>
      <%= f.text_area :story, class: "form-control", rows: "5" %>

      <%= f.label :tag_list, "Tags (separated by commas)" %><br />
      <%= f.text_field :tag_list, class: "form-control" %>

      <%= f.file_field :photo, class: "form-control" %>

      <p>Please tell us the image orientation:</p>
      <%= f.select :image_orientation, Article::IMAGE_ORIENTATION, class: "form-control" %>

      <div class="form-group">
        <%= f.submit "Update Story", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
