<section class="landscape_layout">

  <p><%= @article.title %></p>
  <p><%= @article.story %></p>
  <p><%= @article.location %></p>
  <%= @article.image_orientation %>
  <%= image_tag @article.photo.url(:landscape) %>

  Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

  <section class="profile">
    <h4 class="profile-title">Photographer Profile</h4>
    <p class="profile-name"><%= @article.user.first_name %> <%= @article.user.last_name %></p>
    <p class="profile-bio"><%= @article.user.bio %></p>
    <p class="profile-photo"><%= image_tag @article.user.avatar.url(:thumb), class: "avatar-image" %></p>
  </section>

</section>
