<section class="articles-heading" id="articles-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="articles-heading"><%= @article.title %></h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>


<section class="landscape_layout container">


  <%= image_tag @article.photo.url, class: "img-responsive" %>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <p><%= @article.story %></p>
    <p><%= @article.location %></p>
    <p>Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
  </div>
  <div class="col-sm-6 col-md-6">
    <div id='map'>
      <script>
        $(document).ready(function(){
          new GMaps({
            div: '#map',
            lat: -12.043333,
            lng: -77.028333
          });
        });
      </script>
    </div>

  <section class="profile">
    <h3 class="profile-title">Photographer Profile</h3>
      <p class="profile-name"><%= @article.user.first_name %> <%= @article.user.last_name %></p>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="profile-bio"><%= @article.user.bio %></p>
      </div
      <div class="ol-xs-12 col-xs-6 col-sm-3">
        <p class="profile-photo"><%= image_tag @article.user.avatar.url, class: "img-rounded" %></p>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="container">
  <h3>Related Articles</h3>
  <% @related_articles.each do | related_article | %>
    <% if !related_article.nil? %>
    <%= link_to related_article.title, article_path(related_article) %>
    <%= image_tag related_article.photo.url(:portrait) %>
    <% end %>
  <% end %>
</section>

<section class="container">
  <%- raw disqus_thread @article.id %>

</section>
