<section class="articles-heading" id="articles-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="articles-heading"><%= @article.title %></h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>


<section class="portrait_layout">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag @article.photo.url(:portrait), class: "img-responsive" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><%= @article.story %></p>
        <p><%= @article.location %></p>
        <p>Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
      </div>
    </div>
  </div>




  Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

  <section class="profile">
    <h4 class="profile-title">Photographer Profile</h4>
    <p class="profile-name"><%= @article.user.first_name %> <%= @article.user.last_name %></p>
    <p class="profile-bio"><%= @article.user.bio %></p>
    <p class="profile-photo"><%= image_tag @article.user.avatar.url(:thumb), class: "avatar-image" %></p>
  </section>

  <div id='map'>
  </div>
  map above here

    <script>
      var map = new GMaps({
        div: '#map',
        lat: 51.607515,
        lng: -0.438072,
        map.addMarker({
          lat: <%= @article.latitude %>,
          lng: <%= @article.longitude %>,
          title: <%= @article.title %>,
          click: function(e) {
            alert('You clicked this marker');
          }
        });
      });
    </script>

<section class="container">
  <h3>Related Articles</h3>
  <% @related_articles.each do | related_article | %>
    <% if !related_article.nil? %>
    <%= link_to related_article.title, article_path(related_article) %>
    <%= image_tag related_article.photo.url(:portrait) %>
    <% end %>
  <% end %>
</section>

<section class="container">

  <%- disqus_thread @article.id %>

</section>
