<section class="articles-heading" id="articles-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="articles-heading"><%= @article.title %></h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>


<section class="portrait_layout">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag @article.photo.url(:portrait), class: "img-responsive" %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><%= @article.story %></p>
        <p><%= @article.location %></p>

        <p>Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="profile-title">Photographer Profile</h4>
        <p class="profile-name"><%= @article.user.first_name %> <%= @article.user.last_name %></p>
          <div class="col-xs-8 col-sm-8">
            <p class="profile-bio"><%= truncate(@article.user.bio, :length => 200) %></p>
          </div>
          <div class="col-xs-4 col-sm-4">
            <p class="profile-photo"><%= image_tag @article.user.avatar.url(:thumb), class: "img-responsive" %></p>
          </div>
        </div>
        <div class="col-sm-6">
          <div id='map'>
          map above here

            <script>
              var map;
              $(document).ready(function(){
                map = new GMaps({
                  div: '#map',
                  lat: <%= @article.latitude %>,
                  lng: <%= @article.longitude %>,
                  zoom: 5,
                  disableDefaultUI: true
                });
                map.addMarker({
                  lat: <%= @article.latitude %>,
                  lng: <%= @article.longitude %>,
                  infoWindow: {
                    content: '<p><%= @article.title %> </p>'
                  }
                });
              });
            </script>
          </div>

        </div>

    </div>
    </div>
  </div>

<section class="container">
  <h3>Related Articles</h3>
  <% @related_articles.each do | related_article | %>
    <% if !related_article.nil? %>
  <div class="row">
  <div class="col-md-3">
    <%= image_tag related_article.photo.url, class: "img-responsive" %>
    <%= link_to related_article.title, article_path(related_article) %>
    <% end %>
  </div>
  <% end %>
</div>
</section>

<section class="container">

  <%- disqus_thread @article.id %>

</section>

</section>
