<section class="articles-heading" id="articles-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="articles-heading"><%= @article.title %></h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>


<section class="portrait_layout">

  <section class="main-article">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag @article.photo.url(:portrait), class: "img-responsive" %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><%= @article.story %></p>
        <p><%= @article.location %></p>
        <p>Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
        <!-- Twitter -->
        <a href="http://twitter.com/home?status=<%= @article.title %>" title="Share on Twitter" target="_blank" class="share btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
         <!-- Facebook -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= @article.title %>" title="Share on Facebook" target="_blank" class="share btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=<%= @article.title %>" title="Share on Google+" target="_blank" class="share btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
        <!-- StumbleUpon -->
        <a href="http://www.stumbleupon.com/submit?url=<%= @article.title %>" title="Share on StumbleUpon" target="_blank" data-placement="top" class="share btn-stumbleupon"><i class="fa fa-stumbleupon"></i> Stumbleupon</a>
      </div>
    </div>
  </div>
  </section>

  <section class="map-and-profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="profile-title">Photographer Profile</h4>
        <p class="profile-name"><%= @article.user.first_name %> <%= @article.user.last_name %></p>
          <div class="col-xs-8 col-sm-8">
            <p class="profile-bio"><%= truncate(@article.user.bio, :length => 200) %></p>
            <p class="link-to-profile"><%= link_to "Read more", user_path(@article.user) %></p>
          </div>
          <div class="col-xs-4 col-sm-4">
            <p class="profile-photo"><%= image_tag @article.user.avatar.url(:thumb), class: "img-responsive" %></p>
          </div>
        </div>
        <div class="col-sm-6">
          <div id='map'>
          map above here

            <script>
              var map;
              $(document).ready(function(){
                map = new GMaps({
                  div: '#map',
                  lat: <%= @article.latitude %>,
                  lng: <%= @article.longitude %>,
                  zoom: 5,
                  disableDefaultUI: true
                });
                map.addMarker({
                  lat: <%= @article.latitude %>,
                  lng: <%= @article.longitude %>,
                  infoWindow: {
                    content: '<p><%= @article.title %> </p>'
                  }
                });
              });
            </script>
          </div>

        </div>

    </div>
    </div>
  </section>


  <section class="container mailing-list">
    <div class="row">
      <div class="col-sm-12">

        <section class='mailing-list-content'>
        <h2>Like What You've Read?</h2>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
      </section>
        <!-- Small Signup modal -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">

              <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- Begin MailChimp Signup Form -->
          <div class="row">
          <div class="col-md-12">

                  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                  <style type="text/css">
                  	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                  	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                  	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                  </style>
                  <div id="mc_embed_signup" class="form-group">
                  <form action="//familiarfaces.us11.list-manage.com/subscribe/post?u=48de7035b7276555dca86a5c4&amp;id=0aa46f88f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                  	<h2>Subscribe to our mailing list</h2>
                  <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                  <div class="mc-field-group">
                  	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                  </label>
                  	<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                  </div>
                  <div class="mc-field-group">
                  	<label for="mce-FNAME">First Name </label>
                  	<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                  </div>
                  <div class="mc-field-group">
                  	<label for="mce-LNAME">Last Name </label>
                  	<input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
                  </div>
                  	<div id="mce-responses" class="clear">
                  		<div class="response" id="mce-error-response" style="display:none"></div>
                  		<div class="response" id="mce-success-response" style="display:none"></div>
                  	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;"><input type="text" name="b_48de7035b7276555dca86a5c4_0aa46f88f3" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default"></div>
                      </div>
                  </form>
                  </div>
                </div>
              </div>
                  <!--End mc_embed_signup-->
              </div>
            </div>
          </div>
          </div>
        </div>

      </div>
    </div>
  </section>
    <!-- Small Signup modal end-->

<section class="container">
  <h3>Related Articles</h3>
  <% @related_articles.each do | related_article | %>
    <% if !related_article.nil? %>
  <div class="row">
  <div class="col-md-3">
    <%= image_tag related_article.photo.url, class: "img-responsive" %>
    <%= link_to related_article.title, article_path(related_article) %>
    <% end %>
  </div>
  <% end %>
</div>
</section>

<section class="container">

  <%- disqus_thread @article.id %>

</section>

</section>
