<section class="devise-headers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="devise-headers-heading">Photographer Profile:</h3>
                  <h2 class="devise-headers-heading"><%= @user.first_name %> <%= @user.last_name %></h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-xs-6 user-avitar">
      <%= image_tag @user.avatar.url(:medium), class: "img-responsive" %>
    </div>
    <div class="col-xs-6 user-bio">
      <h4>Bio:</h4>
        <p><%= @user.bio %></p>
    </div>
  </div>
</div>

<div class="container related-articles">
      <h4>Articles By <%= @user.first_name %> <%= @user.last_name %>: </h4>
      <% @article.each do |article| %>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <%= link_to article.title, article_path(article) %>
          <%= image_tag article.photo.url(:homepage) %>
        </div>
      <% end %>
</div>
