<h2>Name: <%= @user.first_name %> <%= @user.last_name %></h2>
<%= image_tag @user.avatar.url(:thumb), class: "avatar-image" %>

<h4>Bio: <%= @user.bio %></h4>

<h4>Articles: </h4><% @user.articles.each do |article| %>
            <li><%= link_to article.title, article_path(article) %></li>
          <% end %>
