<section class="devise-headers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="devise-headers-heading">Photographer Profile:</h3>
                  <h2 class="devise-headers-heading"><%= @user.first_name %> <%= @user.last_name %></h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>


<%= image_tag @user.avatar.url(:thumb), class: "avatar-image" %>

<h4>Bio: <%= @user.bio %></h4>

<h4>Articles: </h4><% @article.each do |article| %>
            <li><%= link_to article.title, article_path(article) %></li>
          <% end %>
